In [1]:
#Import needed modules

import pandas as pd
from pandas import DataFrame, read_csv
from bs4 import BeautifulSoup as soup

In [5]:
#Load clean csv to manipulate

file_to_load = "..\data_cleaning\export\movie_db.csv"
lowest_budget = pd.read_csv(file_to_load)
lowest_budget.head(5)

,index,title,id,release_date,cast,percentage_top_5_female_led,total_top_5_female_led,total_female_actors,total_actors,percentage_female_cast,...,original_language,languages,total_genres,genres,runtime,revenue,budget,budget_bins,country_language_x,country_language_y
0,0,The Suicide Squad,436969,7/28/21,Margot Robbie Idris Elba John Cena Joel Kinnam...,0.2,1,11,44,0.250000,...,en,English Spanish,4,Action Adventure Fantasy Comedy,132,118084747,180000000,151m to 380m,United States,United States
1,1,Jungle Cruise,451048,7/28/21,Dwayne Johnson Emily Blunt Edgar Ramírez Jack ...,0.2,1,11,67,0.164179,...,en,English Spanish Portuguese,4,Adventure Fantasy Comedy Action,127,154342554,200000000,151m to 380m,United States,United States
2,2,Black Widow,497698,7/7/21,Scarlett Johansson Florence Pugh Rachel Weisz ...,0.6,3,33,96,0.343750,...,en,English Russian,4,Action Adventure Thriller Science Fiction,134,367799531,200000000,151m to 380m,United States,United States
3,3,Space Jam: A New Legacy,379686,7/8/21,LeBron James Don Cheadle Cedric Joe Jeff Bergm...,0.0,0,9,37,0.243243,...,en,English,4,Animation Comedy Family Science Fiction,115,144882738,161900000,151m to 380m,United States,United States
4,4,The Boss Baby: Family Business,459151,7/1/21,Alec Baldwin James Marsden Amy Sedaris Jeff Go...,0.4,2,4,25,0.160000,...,en,English,4,Animation Comedy Adventure Family,107,70324240,82000000,51m to 150m,United States,United States

In [7]:
#return columns needed for web page build

lowest_total_budget = lowest_budget.loc[:, ["title", "budget", "budget_bins", "popularity"]]
lowest_total_budget.head(5)

                            title     budget   budget_bins  popularity
0               The Suicide Squad  180000000  151m to 380m    7243.123
1                   Jungle Cruise  200000000  151m to 380m    6680.739
2                     Black Widow  200000000  151m to 380m    2564.501
3         Space Jam: A New Legacy  161900000  151m to 380m    2327.176
4  The Boss Baby: Family Business   82000000   51m to 150m    1759.371

In [11]:
#Creating DataFrame for "Total Lowest Budget Movies"

lowest_budget_sorted = lowest_total_budget.sort_values("budget").nsmallest(25, "budget")
print(lowest_budget_sorted)

                               title  budget budget_bins  popularity
2868               Sex and Death 101       5    0 to 15m      13.981
3157  Chestnut: Hero of Central Park       6    0 to 15m      12.673
379                      Brian Banks      10    0 to 15m      56.422
2199                         Sanctum      30    0 to 15m      17.091
2881     Rugrats in Paris: The Movie      30    0 to 15m      13.908
666                      Sí, Mi Amor    5000    0 to 15m      39.666
2476                          Primer    7000    0 to 15m      15.648
2545          King Kong vs. Godzilla   12000    0 to 15m      15.284
3399                 One Missed Call   20000    0 to 15m      11.922
2723             One Cut of the Dead   30000    0 to 15m      14.530
930          The Blair Witch Project   60000    0 to 15m      32.225
3078                          Vixen!   76000    0 to 15m      13.012
748     The Texas Chain Saw Massacre   85000    0 to 15m      36.719
2054                   A Ghost Story  100000    0 to 15m      17.981
1220               Facing the Giants  100000    0 to 15m      26.620
2622                   Another Earth  100000    0 to 15m      14.960
1833                     The Gallows  100000    0 to 15m      19.745
1722                        Stitches  100000    0 to 15m      20.636
2083        Night of the Living Dead  114000    0 to 15m      17.821
994                   The Villainess  125000    0 to 15m      30.600
2417           The Way of the Dragon  130000    0 to 15m      15.931
2049                      Open Water  130000    0 to 15m      18.014
524                        Megalodon  130178    0 to 15m      45.816
2439            In the Mood for Love  150000    0 to 15m      15.823
1157              Children of Heaven  180000    0 to 15m      27.619

In [26]:
#Creating DataFrame for Most Popular Low Budget Movies"


popular_movie = lowest_total_budget[(lowest_total_budget["budget"] <= 14999999)]
clean_popular_movie = popular_movie.sort_values("popularity", ascending=False)
print(clean_popular_movie)

                              title    budget budget_bins  popularity
6                   Don't Breathe 2  10000000    0 to 15m    1312.696
15        Major Grom: Plague Doctor   5000000    0 to 15m     497.367
21                       The Unholy  10000000    0 to 15m     439.147
28                    Don't Breathe   9900000    0 to 15m     348.282
39               Willy's Wonderland   5000000    0 to 15m     235.333
...                             ...       ...         ...         ...
3420                Meet the Blacks    900000    0 to 15m      11.845
3425                     The Idiots   2500000    0 to 15m      11.835
3428            Glengarry Glen Ross  12500000    0 to 15m      11.828
3429                  Swimming Pool   7800000    0 to 15m      11.828
3430  Godzilla vs. Mechagodzilla II   9500000    0 to 15m      11.827

[1029 rows x 4 columns]

In [28]:
#Creating DataFrame for least Popular Low Budget Movies

popular_movie = lowest_total_budget[(lowest_total_budget["budget"] <= 14999999)]
clean_least_popular = popular_movie.sort_values("popularity")
print(clean_least_popular)

                              title    budget budget_bins  popularity
3430  Godzilla vs. Mechagodzilla II   9500000    0 to 15m      11.827
3429                  Swimming Pool   7800000    0 to 15m      11.828
3428            Glengarry Glen Ross  12500000    0 to 15m      11.828
3425                     The Idiots   2500000    0 to 15m      11.835
3420                Meet the Blacks    900000    0 to 15m      11.845
...                             ...       ...         ...         ...
39               Willy's Wonderland   5000000    0 to 15m     235.333
28                    Don't Breathe   9900000    0 to 15m     348.282
21                       The Unholy  10000000    0 to 15m     439.147
15        Major Grom: Plague Doctor   5000000    0 to 15m     497.367
6                   Don't Breathe 2  10000000    0 to 15m    1312.696

[1029 rows x 4 columns]